.parent{
    background-color: aqua;
    display: flex;
    flex-direction: row;
 justify-content: center;
 /* align-items: center; */
 align-items: center;
 flex-wrap: wrap;

}
.box{
    color: green;
    width: 70px;
    height: 80px;
}

.media{
    background-color: yellow;
    width: 800px;
    height: 500px;
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

@media (max-width:600px) {
    .media{
        background-color: aqua;
        width: 200px;
        height: 200px;
        font-size: smaller;
    }
    
}
@media (min-width:800px) {
    .media{
        background-color:pink;
        width: 200px;
        height: 200px;
        font-size: smaller;
    }
    
}