.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #282c34;
    color: white;
}

ul{
    display: flex;
    gap: 1rem;
    list-style: none;
;  
    
}
ul li a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
margin-right: 1rem;
font-size: larger   ;
    font-weight: 500;
}