.state{
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}